[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Miguel Angel Julian Aguilar (thar)
[access "refs/for/refs/*"]
	read = group Thar Jenkins Functional
	read = group user/Miguel Angel Julian Aguilar (thar)
	push = group Thar Jenkins Functional
	push = group user/Miguel Angel Julian Aguilar (thar)
	label-Code-Review = -2..+2 group user/Miguel Angel Julian Aguilar (thar)
	label-Verified = -1..+1 group Thar Jenkins Functional
	label-Verified = -1..+1 group user/Miguel Angel Julian Aguilar (thar)
	rebase = group user/Miguel Angel Julian Aguilar (thar)
	removeReviewer = group user/Miguel Angel Julian Aguilar (thar)
	submit = group user/Miguel Angel Julian Aguilar (thar)
[access "refs/heads/*"]
	read = group Thar Jenkins Functional
	read = group user/Miguel Angel Julian Aguilar (thar)
	create = group Thar Jenkins Functional
	create = group user/Miguel Angel Julian Aguilar (thar)
	push = group Thar Jenkins Functional
	push = +force group user/Miguel Angel Julian Aguilar (thar)
	pushMerge = group user/Miguel Angel Julian Aguilar (thar)
	label-Code-Review = -1..+1 group Thar Jenkins Functional
	label-Verified = -1..+1 group Thar Jenkins Functional
[access "refs/tags/*"]
	push = group user/Miguel Angel Julian Aguilar (thar)
	push = +force group user/Miguel Angel Julian Aguilar (thar)
	read = group Thar Jenkins Functional
