<settings>
  <servers>
    <server>
      <id>archiva.internal</id>
      <username>jenkins</username>
      <password>jenkins1</password>
    </server>
    <server>
      <id>archiva.snapshots</id>
      <username>jenkins</username>
      <password>jenkins1</password>
    </server>
  </servers>
</settings>
